
.page-16-10 {
  width: 100%;
}
.width1200{
  width: 100%;
}

button.play[diabled], .disabled {
  color: gray
}

.card.details {
  min-height: 15em;
}

@media (min-width: 1001px) and (pointer: fine) {
  .card.details {
    min-height: 8em;
  }

  .page-16-10 {
    width: 1200px;
    aspect-ratio: 16 / 10;
    margin: 0 auto;
  }
  .width1200 {
    width: 1200px;
    margin: auto;
  }
}
