.hidden-form-trigger {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  z-index: 9999;
  background: transparent;
  cursor:crosshair
}
.card {
  text-transform: uppercase;
}

.page-16-10 {
  width: 1200px;
  aspect-ratio: 16 / 10;
}
.width1200{
   width: 1200px;
}
