<app-header class="width1200" title="Radio Treviso 103"></app-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="page-16-10">
    <ion-grid class="ion-padding">
      <ion-row>
        @for (page of pages(); track $index) {
        <ion-col size="6">
          <div class="card">
              <a class="section" [routerLink]="['/details', page.id]">{{ page.name }}</a>
          </div>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
    <div class="hidden-form-trigger" (click)="openExitKioskModal()"></div>
  </div>
</ion-content>
