.app-toolbar {
  --min-height: 88px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;

  height: 88px;
}

.title2 {
  margin-top:3px
}

ion-button {
  text-transform: none;
}

.header-title {
  width: 200px;
  flex: 0 0 200px;

  font-size: 1.1em;
  line-height: 1.1;
  font-weight: 700;

  white-space: normal;
}

.header-logo {
  height: 80px;
  width: auto;
  object-fit: contain;
  flex: 0 0 auto;
}
