/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

body {
  background-color: #fcf9f2;
  color: #d32f2f;
}

ion-header {
  box-shadow: none !important;
}

ion-toolbar {
  --border-width: 0 !important;
  --box-shadow: none !important;
  border-bottom: 4px solid #d32f2f;
}

ion-toolbar::part(container) {
  box-shadow: none !important;
  border: 0 !important;
  // color: #fcf9f2;
  // background-color: #d32f2f;
  height: 5em;
}

:root {
  --ion-background-color: #fcf9f2;
  --ion-text-color: #d32f2f;
  --ion-toolbar-color: #d32f2f;

  a {
    background: var(--ion-background-color);
    color: var(--ion-text-color);
    text-decoration: none;
    display: block;
  }

  audio {
    width: 100%;
  }

  button {
    background-color: #fcf9f2;
    color: #d32f2f;
    border: 1px solid;
    padding: 5px;
    margin-top: 10px;
  }

  button.play {
      position: absolute;
      right: 1em;
      bottom: 2em
    }

  .card {
    color: #d32f2f;
    border-bottom: 2px solid #d32f2f;

    padding: 1em;
    h2 { text-transform: uppercase; }


  }

  .card.details {
    min-height: 8em;
  }

  figure { margin: 0; }
}
