/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@font-face {
  font-family: 'Special Elite';
  src: url('./assets/fonts/SpecialElite-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps with faster text rendering */
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Helps with faster text rendering */
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps with faster text rendering */
}

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

:root {
  --red: rgb(127, 45, 43);
  --white: rgb(246, 235, 220);
  --graytext: rgb(91, 92, 96);
  --whiteheader:  #eee4e4;
  --ion-color-primary: var(--red);
}
.button-native {
  --border-radius: 8px;
}

ion-button.outline {
  --background: transparent;
  --color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 2px;
  --border-color: var(--ion-color-primary);
  opacity: .8;
  --border-radius: 8px!important;
}

body {
  background-color: var(--white);
  color: var(--graytext);
  font-family: "Roboto Regular", sans-serif;
}

ion-header {
  box-shadow: none !important;
  padding: 0;
  background-color: var(--white);
}
ion-toolbar{
  padding: 1em;
  --background: var(--whiteheader);
}

.logo {
  max-width: 120px;
  max-height: auto;
  display: inline-block;
}
.header-title {
  font-family: "Special Elite", serif;
  color: var(--graytext);
  margin-top: .4em;
}

ion-toolbar {
  --border-width: 0 !important;
  --box-shadow: none !important;
  border-bottom: 4px solid var(--red);
}

ion-toolbar::part(container) {
  box-shadow: none !important;
  border: 0 !important;
  height: 5em;
}

:root {
  --ion-background-color: var(--white);
  --ion-text-color: var(--graytext);
  --ion-toolbar-color: var(--red);

  a {
    background: var(--ion-background-color);
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
    display: block;
  }

  audio {
    width: 100%;
  }

  button {
    background-color: var(--white);
    color: var(--red);
    border: 1px solid;
    padding: 5px;
    margin-top: 10px;
  }

  button.play {
      position: absolute;
      right: 2em;
      bottom: 2em
    }

  .card {
    color: var(--graytext);
    border-bottom: 2px solid var(--red);

    padding: 1.4em;
    h2 {
      text-transform: uppercase;
      color: var(--red);
      font-family: "Montserrat Bold", sans-serif;
    }

    &.pages {
      color: var(--red);
      font-family: "Montserrat Bold", sans-serif;
    }
    img { margin: auto; display: block; }
  }

  .card.details {
    min-height: 8em;
  }

  figure { margin: 0; }

  .subtitle {
    color: var(--red);
    font-weight: bold;
    font-family: 'Special Elite', serif;
    font-size: 1.4em;
  }


}
